.header {

}

.header__bg {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /*background-image: linear-gradient(180deg,#851b8b,#3c2bbc);*/
    background-image: linear-gradient(180deg,#448aff,#6200ea);
    height: 150px;
    position: relative;
    z-index: 1;
}

.header__title {
    margin-top: 45px;
    color: white;

    text-align: center;
}

.header__bottom {
    margin-top: -100px;
    height: 200px;
    width: 100%;
    /*background-color: #3c2bbc;*/
    background-color: #6200ea;
    border-radius: 100%;
    /*-webkit-clip-path: ellipse(41% 186px at 36% -26%);*/
    /*-moz-clip-path: ellipse(41% 186px at 36% -26%);*/
    /*clip-path: ellipse(41% 150px at 36% -26%);*/
}