body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efeff3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.timeline-section {
  background-color: #efeff3;
  border: 1px solid #eee;
}

a {
  color: cornflowerblue;
  text-decoration: none;

  transition: all 0.3s ease;
}

a:hover {
  color: blueviolet;
}

ul {
  list-style-type: none;
  padding-inline-start: 10px;
}